// variant: "outline" | "unstyled" | "filled" | "flushed"
// color scheme
//
// error border color
// focus border color
//
// size
// placeholder

@import "../../swish-ui/components/styles/default.scss";
@import "../../swish-ui/components/styles/mixins.scss";
$swish-pin-split-namespace: "s-pin-split";

.pin-container-preset {
  margin: 100px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pin-container-custom {
  margin: 100px 35px;
  display: flex;
  justify-content: center;
  color: #1d1c1d;
}

.s-pin-split-divider {
  display: flex;
  align-items: center;
  margin: 12px;
  color: rgba(29, 28, 29, 0.8);
}

.#{$swish-pin-split-namespace} {
  color: #1d1c1d;
  text-align: center;
  border: 1px solid rgba(29, 28, 29, 0.7);
  border-color: rgba(29, 28, 29, 0.5);
  box-shadow: none;
  background: none;
  height: 92px;
  line-height: 56px;
  width: 80px;
  font-size: 50px;

  &:focus {
    outline: none;
    border: 1px solid rgba(18, 100, 163, 1) !important;
    box-shadow: 0 0 0 1px rgba(18, 100, 163, 1), 0 0 7px rgba(18, 100, 163, 0.3);
  }

  &:first-child,
  &:nth-child(5) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &:nth-child(3),
  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &:not(:first-child):not(:nth-child(5)) {
    border-left: none;
  }
}
