.loader-container {
  display: flex;
  justify-content: space-evenly;
}

.spinner-1 {
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border-top: 2px solid #1890ff;
  border-left: 2px solid #1890ff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: spinner-1 0.72s infinite linear;
}

@keyframes spinner-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-2 {
  display: inline-block;
  position: relative;
  height: 21px;
  width: 21px;
  transform: rotate(45deg);
  -webkit-animation: rotate-spinner infinite 1.2s linear;
  -o-animation: rotate-spinner infinite 1.2s linear;
  animation: rotate-spinner infinite 1.2s linear;
}

.spinner-2-dot {
  position: absolute;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #1890ff;
  opacity: 0.2;
  -webkit-animation: shimmer-spinner-dot-opacity infinite 1s alternate;
  -o-animation: shimmer-spinner-dot-opacity infinite 1s alternate;
  animation: shimmer-spinner-dot-opacity infinite 1s alternate;
}

.spinner-2-dot:nth-child(1) {
  top: 0;
  right: 0;
  animation-delay: 0.4s;
}

.spinner-2-dot:nth-child(2) {
  top: 0;
  left: 0;
  animation-delay: 0.8s;
}

.spinner-2-dot:nth-child(3) {
  bottom: 0;
  left: 0;
  animation-delay: 1.2s;
}
.spinner-2-dot:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes rotate-spinner {
  to {
    transform: rotate(405deg);
  }
}

@keyframes shimmer-spinner-dot-opacity {
  to {
    opacity: 0.9;
  }
}
