.demo-flex-grid {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  outline: 2px solid black;
}

.demo-flex-row {
  /*flex-basis: 100%;*/
  flex-grow: 1;
  height: 20px;
  border: 1px solid #23abc2;
}

#span-4 {
  grid-column-start: span 4;
}

#placement-8 {
  grid-column-start: 8;
}
/*
/*phone*/
/*@media (min-width: 0px) and (max-width: 599px) {
  .demo-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    outline: 2px solid black;
  }
}*/

/*tablet*/
/*@media (min-width: 600px) and (max-width: 839px) {
  .demo-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    outline: 2px solid black;
  }
}*/

/*desktop*/
/*@media (min-width: 840px) {
  .demo-grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    outline: 2px solid black;
  }
}*/
