@use './mixins';
@use './variables';
@use 'sass:map';
@use 'sass:list';

.sdc-grid {
  // for every supported screen width
  @each $size in map.keys(variables.$breakpoints) {
    $margin: map.get(variables.$default-margin, $size);
    // declare responsive styles for each breakpoint interval
    @include mixins.media_query_($size) {
      @include mixins.layout-grid($size, $margin);
    }
  }
}

.sdc-grid-inner {
  @each $size in map.keys(variables.$breakpoints) {
    @include mixins.media_query_($size) {
      $margin: map.get(variables.$default-margin, $size);
      @include mixins.layout-inner($size, $margin);
    }
  }
}

.sdc-grid-col {
  @each $size in map.keys(variables.$columns) {
    @include mixins.media_query_($size) {
      // get the total number of columns for the screen size
      $columns: map.get(variables.$columns, $size);
      // get the gutter size for the screen size
      $gutter: map.get(variables.$default-gutter, $size);
      @include mixins.col($size, $columns, $gutter);

      @for $i from 1 through $columns {
        @at-root .sdc-grid-col--span-#{$i},
          .sdc-grid-col--span-#{$i}-#{$size} {
          @include mixins.col-span($size, $i, $columns);
        }
      }
    }
  }

  &--align-top {
    @include mixins.col-align(top);
  }
  &--align-center {
    @include mixins.col-align(middle);
  }
  &--align-bottom {
    @include mixins.col-align(bottom);
  }
}

.sdc-grid--align-left {
  margin-left: 0;
  margin-right: auto;
}

.sdc-grid--align-right {
  margin-left: auto;
  margin-right: 0;
}
