@import "../../styles/default.scss";
@import "../../styles/mixins.scss";

$swish-btn-namespace: "swish-btn" !default;

/*
################
               contained
################
*/
// background
$btn-contained-background-default: $gray-5;
$btn-contained-background-primary: $blue-6;
$btn-contained-background-secondary: $red-6;

// border
$btn-contained-border-default: $gray-6;
$btn-contained-border-primary: $blue-6;
$btn-contained-border-secondary: $red-6;
$btn-contained-background-disabled: $gray-5;

// hover background
$btn-contained-background-hover-default: $gray-6;
$btn-contained-background-hover-primary: $blue-7;
$btn-contained-background-hover-secondary: $red-7;

// hover border
$btn-contained-border-hover-primary: $blue-8;
$btn-contained-border-hover-secondary: $red-8;

// text
$btn-contained-color-default: $gray-10;
$btn-contained-text-primary: $gray-1;
$btn-contained-text-secondary: $gray-1;
$btn-contained-text-disabled: $gray-7;

/*
################
               outlined
################
*/
// background
$btn-outlined-background-default: $gray-1;
$btn-outlined-background-disabled: $gray-3;

// borders
$btn-outlined-border-default: $gray-6;
$btn-outlined-border-primary: $blue-6;
$btn-outlined-border-secondary: $red-6;
$btn-outlined-border-disabled: $gray-6;

// text
$btn-outlined-text-default: $gray-10;
$btn-outlined-text-primary: $blue-6;
$btn-outlined-text-secondary: $red-6;
$btn-outlined-text-disabled: $gray-7;

// hover background
$btn-outlined-background-default-hover: $gray-3;
$btn-outlined-background-hover-primary: $blue-1;
$btn-outlined-background-secondary-hover: $red-1;

// hover border
$btn-outlined-border-default-hover: $gray-6;
$btn-outlined-border-hover-primary: $blue-6;
$btn-outlined-border-secondary-hover: $red-6;

/*
################
               text
################
*/
.text {
  border: none;
  background: none;
  border-radius: $border-radius;
}

// text
$btn-text-color-default: $gray-10;
$btn-text-color-primary: $blue-6;
$btn-text-color-secondary: $red-6;
$btn-text-color-disabled: $gray-7;

// hover background
$btn-text-background-hover-default: $gray-3;
$btn-text-background-hover-primary: $blue-1;
$btn-text-background-hover-secondary: $red-1;

// Transition
$btn-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

// Button border
.btn-border {
  border-radius: $border-radius;
  border: 1px solid $gray-6;
}

.#{$swish-btn-namespace} {
  /*
  ################
                 base button styles
  ################
  */
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.03em;
  line-height: 1.75;
  text-transform: uppercase;

  /*
  ################
                 sizes
  ################
  */
  &--large {
    padding: 8px 22px;
    font-size: pxToRem(15, $default-font-size);
  }

  &--medium {
    padding: 6px 16px;
    font-size: pxToRem(14, $default-font-size);
  }

  &--small {
    padding: 4px 10px;
    font-size: pxToRem(13, $default-font-size);
  }

  /*
  ################
                 variation: outline
  ################
  */
  &--outlined--default {
    @extend .btn-border;
    background-color: $btn-outlined-background-default;
    border-color: $btn-outlined-border-default;
    transition: $btn-transition;
    color: $btn-outlined-text-default;

    &:focus {
      background-color: $btn-outlined-background-default-hover;
    }
    &:hover {
      background-color: $btn-outlined-background-default-hover;
      transition: $btn-transition;
    }
  }

  &--outlined--primary {
    @extend .btn-border;
    background-color: $btn-outlined-background-default;
    border-color: $btn-outlined-border-primary;
    transition: $btn-transition;
    color: $btn-outlined-text-primary;

    &:focus {
      background-color: $btn-outlined-background-hover-primary;
    }
    &:hover {
      background-color: $btn-outlined-background-hover-primary;
      border-color: $btn-outlined-border-hover-primary;
      transition: $btn-transition;
    }
  }

  &--outlined--secondary {
    @extend .btn-border;
    background-color: $btn-outlined-background-default;
    border-color: $btn-outlined-border-secondary;
    transition: $btn-transition;
    color: $btn-outlined-text-secondary;

    &:focus {
      background-color: $btn-outlined-background-secondary-hover;
      border-color: $btn-outlined-border-secondary-hover;
    }
    &:hover {
      background-color: $btn-outlined-background-secondary-hover;
      border-color: $btn-outlined-border-secondary-hover;
      transition: $btn-transition;
    }
  }

  &--outlined--disabled {
    @extend .btn-border;
    cursor: not-allowed;
    background-color: $btn-outlined-background-disabled;
    border-color: $btn-outlined-border-disabled;
    color: $btn-outlined-text-disabled;
  }

  /*
  ################
                 variation: contained
  ################
  */
  &--contained--default {
    @extend .btn-border;
    background-color: $btn-contained-background-default;
    border-color: $btn-contained-border-default;
    color: $btn-contained-color-default;
    transition: $btn-transition;

    &:focus {
      background-color: $btn-contained-background-hover-default;
    }
    &:hover {
      background-color: $btn-contained-background-hover-default;
      transition: $btn-transition;
    }
  }

  &--contained--primary {
    @extend .btn-border;
    background-color: $btn-contained-background-primary;
    border-color: $btn-contained-border-primary;
    transition: $btn-transition;
    color: $btn-contained-text-primary;

    &:focus {
      background-color: $btn-contained-background-hover-primary;
    }
    &:hover {
      background-color: $btn-contained-background-hover-primary;
      border-color: $btn-contained-border-hover-primary;
      transition: $btn-transition;
    }
  }

  &--contained--secondary {
    @extend .btn-border;
    background-color: $btn-contained-background-secondary;
    border-color: $btn-contained-border-secondary;
    color: $btn-contained-text-secondary;
    transition: $btn-transition;

    &:focus {
      background-color: $btn-contained-background-hover-secondary;
    }
    &:hover {
      background-color: $btn-contained-background-hover-secondary;
      transition: $btn-transition;
      border-color: $btn-contained-border-hover-secondary;
    }
  }

  &--contained--disabled {
    @extend .btn-border;
    cursor: not-allowed;
    background-color: $btn-contained-background-disabled;
    border: none;
    color: $btn-contained-text-disabled;
  }

  /*
  ################
                 variation: text
  ################
  */
  &--text--default {
    @extend .text;
    color: $btn-text-color-default;
    transition: $btn-transition;
    &:focus {
      background-color: $btn-text-background-hover-default;
    }
    &:hover {
      background-color: $btn-text-background-hover-default;
      transition: $btn-transition;
    }
  }

  &--text--primary {
    @extend .text;
    color: $btn-text-color-primary;
    transition: $btn-transition;
    &:focus {
      background-color: $btn-text-background-hover-primary;
    }
    &:hover {
      background-color: $btn-text-background-hover-primary;
      transition: $btn-transition;
    }
  }

  &--text--secondary {
    @extend .text;
    color: $btn-text-color-secondary;
    transition: $btn-transition;
    &:focus {
      background-color: $btn-text-background-hover-secondary;
    }
    &:hover {
      background-color: $btn-text-background-hover-secondary;
      transition: $btn-transition;
    }
  }

  &--text--disabled {
    @extend .text;
    cursor: not-allowed;
    color: $btn-text-color-disabled;
  }
}
