@import "../../styles/default.scss";
@import "../../styles/mixins.scss";

$swish-btn-namespace: "swish-btn" !default;

// background
$btn-background-default: $gray-1;
$btn-background-primary: $blue-6;
$btn-background-primary: $red-6;
$btn-background-disabled: $gray-3;

// borders
$btn-border-default: $gray-6;
$btn-border-primary: $blue-6;
$btn-border-secondary: $red-6;

// text
$btn-text-default: $gray-10;
$btn-text-primary: $blue-6;
$btn-text-secondary: $red-6;
$btn-text-disabled: $gray-6;

// hover background
$btn-background-outlined-default-hover: $gray-3;
$btn-background-outlined-primary-hover: $blue-1;
$btn-background-outlined-secondary-hover: $red-1;

// hover border
$btn-border-outlined-default-hover: $gray-6;
$btn-border-outlined-primary-hover: $blue-6;
$btn-border-outlined-secondary-hover: $red-6;

// Transition
$btn-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

.#{$swish-btn-namespace} {
  /*
  ################
                 base button styles
  ################
  */
  display: inline-flex;
  align-items: center;
  border-radius: $border-radius;
  border: 1px solid $gray-6;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.03em;
  line-height: 1.75;
  text-transform: uppercase;

  /*
  ################
                 sizes
  ################
  */
  &--large {
    padding: 8px 22px;
    font-size: pxToRem(15, $default-font-size);
  }

  &--medium {
    padding: 6px 16px;
    font-size: pxToRem(14, $default-font-size);
  }

  &--small {
    padding: 4px 10px;
    font-size: pxToRem(13, $default-font-size);
  }

  /*
  ################
                 variation: outline
  ################
  */
  &--outlined--default {
    background-color: $btn-background-default;
    border-color: $btn-border-default;
    transition: $btn-transition;
    color: $btn-text-default;

    &:hover {
      background-color: $btn-background-outlined-default-hover;
      transition: $btn-transition;
    }
  }

  &--outlined--primary {
    background-color: $btn-background-default;
    border-color: $btn-border-primary;
    transition: $btn-transition;
    color: $btn-text-primary;

    &:hover {
      background-color: $btn-background-outlined-primary-hover;
      border-color: $btn-border-outlined-primary-hover;
      transition: $btn-transition;
    }
  }

  &--outlined--secondary {
    background-color: $btn-background-default;
    border-color: $btn-border-secondary;
    transition: $btn-transition;
    color: $btn-text-secondary;

    &:hover {
      background-color: $btn-background-outlined-secondary-hover;
      border-color: $btn-border-outlined-secondary-hover;
      transition: $btn-transition;
    }
  }

  &--outlined--disabled {
    cursor: not-allowed;
    background-color: $btn-background-disabled;
    border-color: $btn-border-default;
    color: $btn-text-disabled;
  }

  /*
  ################
                 variation: contained
  ################
  */
  // &--contained--default {
  //   background-color: $btn-background-contained-default;
  //   border-color: $btn-border-primary;
  //   transition: $btn-transition;
  //   color: $btn-text-primary;

  //   &:hover {
  //     // background-color: ;
  //     transition: $btn-transition;
  //   }
  // }

  // &--contained--primary {
  //   background-color: $blue-6;
  //   border-color: $blue-6;
  //   transition: $btn-transition;
  //   color: $gray-1;

  //   &:hover {
  //     background-color: $blue-8;
  //     border-color: $blue-8;
  //     transition: $btn-transition;
  //   }
  // }

  // &--contained--secondary {
  //   background-color: $red-6;
  //   border-color: $red-6;
  //   color: $gray-1;
  //   transition: $btn-transition;

  //   &:hover {
  //     background-color: $red-8;
  //     transition: $btn-transition;
  //     border-color: $red-8;
  //   }
  // }

  // &--contained--disabled {
  // }

  /*
  ################
                 variation: text
  ################
  */
  &--text--default {
  }
  &--text--primary {
  }
  &--text--secondary {
  }
  &--text--disabled {
  }

  /*
  ################
                 variation: disabled
  ################
  */
  &--disabled {
    background-color: #e8e8e8;
    border-color: #bfbfbf;
    cursor: not-allowed;
  }

  &--disabled:hover {
    background-color: #e8e8e8;
    border-color: #bfbfbf;
  }

  &--disabled > span {
    color: #8c8c8c;
  }

  &--disabled:hover > span {
    color: #8c8c8c;
  }

  & > span {
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    transition: color ease 0.2s;
  }
}
